<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>結帳頁面</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">結帳</span>
			<div>
				<span>歡迎<span class="um_span">{{.Username}}</span>光臨Bruce Bookstore</span>
				<a href="/getCartInfo">購物車</a>&nbsp;&nbsp;
				<a href="/getMyOrders">我的訂單</a>&nbsp;&nbsp;
				<a href="/logout">登出</a>&nbsp;&nbsp;
				<a href="/main">返回主頁</a>
			</div>
	</div>
	
	<div id="main">
		
		<h1>訂單已完成，訂單編號為<span style="color:red">{{.Order.OrderID}}</span>/h1>
		
	
	</div>
	
	<div id="bottom">
		<span>
			Copyright &copy; 2024 palebluedot4
		</span>
	</div>
</body>
</html>